{% extends 'base.html' %}
{%block content %}
{% load static %}
<!DOCTYPE html>
<link href={% static "css/nearbyDoctors.css"%} rel="stylesheet">
<html>
  <head>
    <meta charset="utf-8">
    <title>Get User Location</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src={% static 'js/nearbyDoctors.js' %}></script>
  </head>
  <body onload="getLocation()">
    <h1>Get User Location</h1>
    <div class="doctor1">
      <div id="0"></div>
    </div>
    <div class="doctor2">
      <div id="1"></div>
    </div>
    <div class="doctor3">
      <div id="2"></div>
    </div>

  </body>
{% endblock%}
</html>