/* base styling - navbar, icons */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

li{
    margin-right: 20px;
}
    
.navbar {
    background-color: teal;
    height: 90px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}  

.btn {
    background-color: #def2cb;
    color: teal;
}

.btn:hover {
    color: #fff;
    background-color: teal;
    border-color: #fff;
}

img.icon{
    width: 40px;
    height:40px;
}

img.icon:hover{
    filter: brightness(0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* for create post icon */
img.createpost{
    position: relative;
    left: 74%;
    top: 40px;
    width: 40px;
    height:40px;
}

img.createpost:hover{
    filter:drop-shadow(0 0 1.0rem teal);
}


/* for creating posts (createPost.html) */
.create-post{
    text-align: center;
}

.create-post input[type="file"]{
    padding-left: 125px;
    padding-bottom: 30px;
}

h3{
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    padding-top: 30px;
}

.autoresizing {
    display: block;
    overflow: hidden;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
    background-color: #e0f4fa;
    color: rgb(9, 18, 188);
    margin-bottom: 20px;
    border:none;
}

.btn-primary:hover{
    background-color: rgb(9, 18, 188);
    color: e0f4fa;
}

.btn-danger{
    background-color: #ffebeb;
    color: rgb(234, 54, 54);
    border:none;
}

.btn-danger:hover{
    background-color: rgb(234, 54, 54);
    color: #ffebeb;
}

.btn-secondary{
    background-color: #f7f7f7;
    color: rgb(77, 77, 77);
}

.btn-secondary:hover{
    background-color: rgb(77, 77, 77);
    color: #f7f7f7;
}

img.createpost{
    position: relative;
}

img.createpost:hover{
    filter:drop-shadow(0 0 1.0rem teal);
}
