/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

li{
    margin-right: 20px;
}
    
.navbar {
    background-color: teal;
    height: 90px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}  

.btn {
    background-color: #def2cb;
    color: teal;
}

.btn:hover {
    color: #fff;
    background-color: teal;
    border-color: #fff;
}

img.icon{
    width: 40px;
    height:40px;
}

img.icon:hover{
    filter: brightness(0);
}

img.createpost{
    position: absolute;
    top: 120px;
    right: 270px;
    width: 40px;
    height:40px;
}

img.createpost:hover{
    filter:drop-shadow(0 0 1.0rem teal);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
