/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

li{
    margin-right: 20px;
}
    
.navbar {
    background-color: teal;
    height: 90px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}  

.btn {
    background-color: #edf8e2;
    color: teal;
}

.btn:hover {
    color: #edf8e2;
    background-color: teal;
    border-color: #edf8e2;
}

img.icon{
    width: 40px;
    height:40px;
}

img.icon:hover{
    filter: brightness(0);
}

img.createpost{
    position: relative;
    left: 1080px;
    top: 40px;
    width: 40px;
    height:40px;
}

img.createpost:hover{
    filter:drop-shadow(0 0 1.0rem teal);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* button colours for postdetails - like, unlike, delete AND settings */
.btn-primary{
    background-color: #e0f4fa;
    color: rgb(9, 18, 188);
    margin-bottom: 20px;
    border:none;
}

.btn-primary:hover{
    background-color: rgb(9, 18, 188);
    color: e0f4fa;
}

.btn-danger{
    background-color: #ffebeb;
    color: rgb(234, 54, 54);
    border:none;
}

.btn-danger:hover{
    background-color: rgb(234, 54, 54);
    color: #ffebeb;
}

.btn-secondary{
    background-color: #f7f7f7;
    color: rgb(77, 77, 77);
}

.btn-secondary:hover{
    background-color: rgb(77, 77, 77);
    color: #f7f7f7;
}