body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    background-color: teal;
}

h1 {
    color: #ffff;
    text-shadow: 0 0 1.0rem #e7f3db;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-floating{
    margin-bottom: 10px;
}

.btn {
    background-color: #e7f3db;
    color: teal;
    margin-top: 10px;
}

.btn:hover {
    color: #ffff;
    background-color: teal;
    border-color: #ffff;
}
